<table class="table table-bordered">
  <caption>Return on Equity</caption>
  <thead>
  <tr>
  	<th>Name</th>
  	<th>Ticker</th>
    <th>ROE</th>
    <th>ROE last year</th>
    <th>ROE before last</th>
    <th>ROE four years ago</th>
    <th>EPS 4 quarters ago</th>
    <th>EPS 3 quarters ago</th>
    <th>EPS 2 quarters ago</th>
    <th>EPS 1 quarters ago</th>
  <tr>
  </thead>
  <tbody>
  <% @stocks.each do |stock| %>
  <tr>
	  <td><%= stock.name %></td>
    <td><%= stock.ticker %></td>
    <td><%= stock.roe %></td>
    <td><%= stock.roe_last_year %></td>
    <td><%= stock.roe_before_last %></td>
    <td><%= stock.roe_fourth_year %></td>
    <td class="<%= stock.eps_growth_lq? ? 'rowGreen' : 'rowRed' %>"><%= stock.eps_growth1 %></td>
    <td class="<%= stock.eps_growth_2q? ? 'rowGreen' : 'rowRed' %>"><%= stock.eps_growth2 %></td>
    <td class="<%= stock.eps_growth_3q? ? 'rowGreen' : 'rowRed' %>"><%= stock.eps_growth3 %></td>
    <td><%= stock.eps_growth4 %></td>
  </tr>
  <% end %>
  </tbody>
</table>